<h1>Employee List</h1>



<form>
  <div class="form-group">
    <label for = "fName">First Name:</label>
    <input type="FirstName" class="form-control" [(ngModel)]="employee.fName" name = "firstName" placeholder="Enter First Name">
  </div>
  <div class="form-group">
    <label for = "lName">Last Name:</label>
    <input type="LastName" class="form-control" [(ngModel)]="employee.lName" name = "lastName" placeholder="Enter Last Name">
  </div>
<div class="form-group">
  <label for = "mName">Middle Name:</label>
  <input type="MiddleName" class="form-control" [(ngModel)]="employee.mName" name = "middleName" placeholder="Enter Middle Name">
</div>
<div class="form-group">
  <label for = "age">Age:</label>
  <input type="age" class="form-control" [(ngModel)]="employee.age" name = "age" placeholder="Enter Age ">
</div>
<div class="form-group">
  <label for = "salary">Salary:</label>
  <input type="salary" class="form-control" [(ngModel)]="employee.salary" name = "salary" placeholder="Enter Salary">
</div>

<div class="form-group">
    <label for = "gender">Gender:</label><br>
    <label class="radio-inline" *ngFor= "let g of getKeysforGender()">
        <input type="radio" name="gender" [ngModel]="employee.gender"(ngModelChange)="employee.gender=gender" [value]="g">{{g}}
  </label> 
</div>

<div class="form-group">
  <label for = "street">Street:</label>
  <input type="text" class="form-control" [(ngModel)]="employee.address.street" name = "street" placeholder="Enter Street">
</div>
<div class="form-group">
  <label for = "city">City:</label>
  <input type="text" class="form-control" [(ngModel)]="employee.address.city" name = "city" placeholder="Enter City">
</div>
<div class="form-group">
  <label for = "firstName">State:</label>
  <input type="text" class="form-control" [(ngModel)]="employee.address.state" name = "state" placeholder="Enter State">
</div>
<div class="form-group">
  <label for = "zipcode">Zip Code:</label>
  <input type="text" class="form-control" [(ngModel)]="employee.address.zipcode" name = "zipcode" placeholder="Enter Zip Code">
</div>
<button type="submit" class="btn btn-danger" (click)='onSubmit()'>Submit</button>
</form>
